input[type=text], input[type=password],input[type=date] ,input[type=email],input[type=tel],input[type=number], select{
  width: 25%;
  padding: 2px;
  margin: 5px 0 22px 0;
  display: inline-table
  border: none;
  background: #f1f1f1;
  alignment-baseline:text-before-edge;
  font:Arial, Helvetica, sans-serif;
}

textarea{
	display: inline-table
  	border: none;
 	background: #f1f1f1;
  	alignment-baseline:text-before-edge;
  	font:Arial, Helvetica, sans-serif;
}

p{
	font-family:Arial, Helvetica, sans-serif;
}

button{
  background-color: #333;
  color: white;
  padding: 8px 10px;
  margin: 2px 0;
  border: thick;
  cursor: pointer;
  width: 22%;
  
}

button:hover {
  opacity: 0.8;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}