input[type=text], input[type=password] {
  width: 100%;
  padding: 11px 17px;
  margin: 4px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

p{color:#000;}

button{
  background-color: #333;
  color: white;
  padding: 8px 10px;
  margin: 2px 0;
  border: thick;
  cursor: pointer;
  width: 100%;
}



button:hover {
  opacity: 0.8;
}

a{
	color:#333
}


a:hover {
  color:#FFF;
}

div {
  transition-property: opacity, left;
  transition-duration: 3s, 5s, 2s, 1s;
}

.upbar {
  position: -webkit-sticky;  // required for Safari
  position: sticky;
  top: 0; // required as well.
}   